.sign-in{
  text-align:center;
  min-width: 250px;
  width: 40%;

  flex-direction: column;
  margin-left: 50px;
  border: 1px solid black


}
.labels{
  font-size: 15px;
  margin: 25px 1px 0
}

.inputs{
  font-size:  15px;
  margin: -10px 1px 0
}


